body {
    background-image: url(../images/aboutspacex.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #040811;
    height: auto;
    font-family: geosans;
}


/* ----- FONTS ----- */
@font-face {
    font-family: 'advent';
    src: url(../fonts/advent-Re.otf);
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: "geosans";
    src: url(../fonts/GeosansLight.ttf);
    font-style: normal;
    font-weight: 100;
}


/* ABOUT TEXT SECTION */
.abouttextsection {
    display: block;
    text-align: center;
    margin: auto;
    width: 50%;
    padding-top: 10px;
    color: #e9e9e9;

}

.abouttextsection h1 {
    font-size: 48px;
}

.abouttextsection p {
    color: #e9e9e9;
    font-size: 18px;
}

/* CONTACT FORM BELOW */
.contactfieldcontent {
    box-sizing: border-box;
    margin: auto;
    width: 55%;
    padding: 10px;
    height: auto;
}

.container {
    border-radius: 4px;
    background-color: #e9e9e9;
    padding: 20px;
    height: auto;
    border-top: 4px solid #5e5e5e;
    border-left: 8px solid #999999;
    border-bottom: 0px solid #999999;

}

@keyframes pulse {
    0% {
        background-color: #e4e4e4;
    }

    40% {
        background-color: #c076c0;
    }

    80% {
        background-color: #6ec0ac;
    }

    100% {
        background-color: #e4e4e4;
    }
}


/* Style inputs */
input[type=text],
select,
textarea {
    width: 50%;
    padding: 24px;
    background-color: #040811;
    color: #808080;
    border-radius: 4px;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: none;

}

.aboutHr {
    border: 0.5px solid rgb(161, 161, 161);
    width: 50%;
}

/* ----- LINK TO SPACEX.COM/ABOUT ----- */
.aboutSpacexLink {
    font-size: 24px;
    color: white;
}

/* BUTTON */
.submitbutton {
    display: block;
    float: center;
    font-size: 18px;

}

input[type=submit] {
    background-color: #040811;
    color: #808080;
    padding: 24px 88px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    border-left: 0px solid;
    border-top: 0px solid;
    border-right: 6px solid #5e5e5e;
    border-bottom: 4px solid #999999;

}

/* ----- SEND BUTTON CONTACT FORM ----- */
input[type=submit]:hover {
    background-color: #488838;
    color: #e9e9e9;
}


/* ----- REGION CONTACT FORM ----- */
#region {
    width: 35%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    border-radius: 4px;
    border-left: 0px solid;
    border-top: 0px solid;
    border-right: 7px solid #5e5e5e;
    border-bottom: 5px solid #999999;
}

/* ----- EMAIL & NAME CONTACT FORM ----- */
#emailaddress,
#firstname {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    border-radius: 4px;
    border-left: 0px solid;
    border-top: 0px solid;
    border-right: 7px solid #5e5e5e;
    border-bottom: 5px solid #999999;
}

/* ----- MESSAGE BOX ----- */
#message {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    height: 100px;
    border-radius: 4px;
    border-top: 0px solid;
    border-right: 7px solid #5e5e5e;
    border-bottom: 5px solid #999999;
}

/* ----- FORM VALIDATION ERROR TEXT ----- */
.form-error {
    color: #CE5A32;
    margin-top: 3px;
    font-size: 20px;
    font-weight: bold;
    width: 96%;
    display: none;
}

/* ----- MEDIA QUERY MOBILE ----- */
@media screen and (max-width: 600px) {
    body {
        /* Change this for mobile version? */
        background-image: url(../images/aboutspacex.jpg);
        background-position-y: 50px;
        background-size: 100%;
    }
    .abouttextsection {
        width: 80%;
    }
    .abouttextsection h1 {
        font-size: 36px;
    }
    .abouttextsection p {
        color: #e9e9e9;
        font-size: 20px;
    }
    .contactfieldcontent {
        width: 100%;
    }
    .container {
        padding: 10px;
    }
    input[type=text],
    select,
    textarea {
        width: 80%;
        padding: 20px;
    }
    .submitbutton {
        font-size: 18px; 
    }
    #region {
        width: 60%;
        font-size: 14px;
    }
    #emailaddress,
    #firstname, #message {
        font-size: 14px;
    }
    .form-error {
        font-size: 20px;
    }
}
