/* ----- GLOBAL CODE ----- */
body {
    background-color: #040811;
    /* overflow: hidden; */
    height: 100%;
    color: whitesmoke;
}

/* ----- FONTS ----- */
@font-face {
    font-family: 'advent';
    src: url(/fonts/advent-Re.otf);
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: "geosans";
    src: url(/fonts/GeosansLight.ttf);
    font-style: normal;
    font-weight: 100;
}


.historyTitle {
    text-align: center;
    padding-top: 50px;
    font-size: 24px;
    font-family: advent;
}

.historycontainer {
    display: block;
    /* text-align: center; */
    margin: auto;
    width: 40%;
    margin-top: 6px;
    background-color: rgb(131, 211, 115) hidden;
    height: max-content;
    flex-wrap: wrap;

    padding: 10px;
    /* background-color: orange; */
}

/* ----- CARDS W INFO FROM API CALL ----- */
.historycards {
    background-color: #dcdcdc;
    margin-top: 50px;
    margin-bottom: 15px;
    border-radius: 15px;
    border: 3px solid #efefef;
    padding: 30px;
    color: #262626;
    text-align: center;

}

.historycards h2 {
    font-weight: bold;
    font-size: 24px;
    font-family: advent;
}

.historycards p {
    font-family: geosans;
    font-weight: bold;
}

.historyDate {
    color: #0071BC;
    font-family: geosans;
    font-weight: bold;
    text-align: center;
}