body {
    background-image: url(../images/marsmissiondesktopfixed.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #040811;
    height: auto;
}

hr {
    margin-top: 50px;
    width: 100%;
    border: 1px solid #CE5A32;
    visibility: hidden;
}

/* ----- FONTS ----- */
@font-face {
    font-family: 'advent';
    src: url(../fonts/advent-Re.otf);
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: "geosans";
    src: url(../fonts/GeosansLight.ttf);
    font-style: normal;
    font-weight: 100;
}

/* ----- BELOW PLANET MARS CONTENT ----- */
.marsMission {
    padding-top: 160px;
    padding-left: 80px;
    width: 40%;
    margin: 0;
    color: whitesmoke;
    text-align: left;
    font-size: 18px;
}

.marsMission p {
    font-family: geosans;
    font-size: 18px;
}

.marsMission h5 {
    margin: 40px;
    font-size: 16px;
}

.marsMission h1 {
    padding-top: 34px;
    font-size: 48px;
    font-family: advent;
    color: #CE5A32;
}

/* ----- IMPORTANT INFORMATION SECTION MARS ----- */
.importantMarsInfo h1 {
    font-size: 28px;
}
.importantMarsInfo p {
    font-size: 16px;
}
/* ----- LINK SECTION TO SPACEX.COM/MARS ----- */
.linkToMars {
    font-size: 24px;
    color: white;
}




@media screen and (max-width: 600px) {
    body {
        /* CHANGE BACKGROUND ? */
        background-image: url(../images/marsmissionmobilefixed.jpg);
        background-size: 165%;
        background-position: center top;
    }
    .marsMission {
        padding-top: 440px;
        padding-left: 0;
        width: 80%;
        margin: auto;
        /* color: #CE5A32; */
        color: #e9e9e9;
        text-align: center;
    }
    .marsMission p {
        font-size: 19px;
    }
    .marsMission h1 {
        padding-top: 34px;
        font-size: 36px;
    }
    .importantMarsInfo h1 {
        font-size: 24px;
        padding-bottom: 0;
    }
    .importantMarsInfo p {
        font-size: 16px;
    }
    hr {
        visibility: hidden;
    }
}