body {
    background-image: url(../images/fullmarspage1noring.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #040811;
    height: 1600px;
}


.marscontainer {
    margin: 0;
    width: 60%;
}


.marsmission {
    padding-top: 160px;
    padding-left: 80px;
    width: 40%;
    margin: 0;
    /* color: #CE5A32; */
    color: whitesmoke;
    text-align: left;
    font-size: 18px;
}

.linkToMars {
    font-size: 30px;
    color: white;
}


.marsmission p {
    font-family: geosans;
    font-size: 18px;
}

.marsmission h5 {
    margin: 40px;
    font-size: 16px;
}

.marsmission h1 {
    padding-top: 34px;
    font-size: 36px;
    font-family: advent;
    color: #CE5A32;
}

@font-face {
    font-family: 'advent';
    src: url(/fonts/advent-Re.otf);
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: "geosans";
    src: url(/fonts/GeosansLight.ttf);
    font-style: normal;
    font-weight: 100;
}