body {
    background-image: url(../images/fullmarspage1noring.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #040811;
    height: auto;
}



.marsmission {
    padding-top: 160px;
    padding-left: 80px;
    width: 40%;
    margin: 0;
    /* color: #CE5A32; */
    color: whitesmoke;
    text-align: left;
    font-size: 18px;
}





.marsmission p {
    font-family: geosans;
    font-size: 18px;
}

.marsmission h5 {
    margin: 40px;
    font-size: 16px;
}

.marsmission h1 {
    padding-top: 34px;
    font-size: 48px;
    font-family: advent;
    color: #CE5A32;
}

@font-face {
    font-family: 'advent';
    src: url(/fonts/advent-Re.otf);
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: "geosans";
    src: url(/fonts/GeosansLight.ttf);
    font-style: normal;
    font-weight: 100;
}

.importantMarsInfo h1 {
    font-size: 24px;
}
.importantMarsInfo p {
    font-size: 16px;
}
.linkToMars {
    font-size: 24px;
    color: white;
}



@media screen and (max-width: 600px) {
    body {
        /* CHANGE BACKGROUND ? */
        background-image: url(../images/fullmarspage1noring.jpg);
        background-size: 100%;
    }
    .marsmission {
        padding-top: 140px;
        padding-left: 0;
        width: 80%;
        margin: auto;
        /* color: #CE5A32; */
        color: #e9e9e9;
        text-align: center;
    }
    .marsmission p {
        font-size: 20px;
    }
    .marsmission h1 {
        padding-top: 34px;
        font-size: 36px;
    }
    .importantMarsInfo h1 {
        font-size: 24px;
    }
    .importantMarsInfo p {
        font-size: 16px;
    }
}