body {
    background-image: url(../images/frontpage_new_12.05.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #040811;
    /* overflow: hidden; */
    height: 100%;
    color: rgb(222, 222, 222);


}


@font-face {
    font-family: 'advent';
    src: url(/fonts/advent-Re.otf);
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: "geosans";
    src: url(/fonts/GeosansLight.ttf);
    font-style: normal;
    font-weight: 100;
}


.countdowntimer {
    text-align: center;
    font-size: 30px;
    padding-top: 16px;
    /* padding-top: 30px;
    padding-bottom: 500px; */
    font-family: advent;

}

.countdowntimer .rockettimer {
    color: orange;
    font-size: 28px;
    margin-top: 8px;
}

@keyframes pulse {
    0% {
        color: rgb(64, 122, 197);
    }

    40% {
        color: rgb(76, 162, 165);
    }

    80% {
        color: rgb(82, 180, 95);
    }

    100% {
        color: rgb(64, 122, 197);
    }
}

.countdowntimer h1 {
    margin: 0px;
    /* remove */
}

.countdowntimer h4 {
    margin: 0px;
    margin-top: 0.5em;
    color: #efefef;
    /* NEXT LAUNCH & ESTIMATED LAUNCH DATE TEXT-COLOR */

}



.upcomingrocket {
    padding-top: 0px;
    color: #0071BC;
    text-decoration: none;
    /* animation: pulse 5s infinite;  PULSATING COLORCHANGE ANIMATION */
    /* animation: pulse 5s infinite; */
}

.upcomingrocket h1 {
    margin-top: 20px;
    color: #0071BC;
}




.marsmission {
    display: block;
    text-align: center;
    margin: auto;
    width: 50%;
    padding-top: 100px;
    /* color: #efefef; */
    color: #CE5A32;

}

.marsmission a,
a :hover {
    text-decoration: none;
}

.marsmissiontext {
    font-family: geosans;
    font-size: 24px;
}


.marsmission h5 {
    margin: 25px;
    font-size: 24px;
}

.marsmission h1 {
    margin: 40px;
    font-size: 40px;
    font-family: advent;
    color: #CE5A32;
}

.marsmission hr {
    border: 2px solid #CE5A32;
    width: 65%;
}

.buttontomars {
    text-align: center;
    width: 100%;
    background-repeat: no-repeat;

    cursor: pointer;
}

.buttontomars img {
    width: 15%;
}



.topearth {
    height: 1600px;

    float: center;
}