body {
    background-image: url(../images/frontpage_new_12.05.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #040811;
    /* overflow: hidden; */
    height: 100%;
    color: #e9e9e9;
}


@font-face {
    font-family: 'advent';
    src: url(/fonts/advent-Re.otf);
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: "geosans";
    src: url(/fonts/GeosansLight.ttf);
    font-style: normal;
    font-weight: 100;
}


.countdowntimer {
    text-align: center;
    margin: auto;
    width: 50%;
    font-size: 30px;
    padding-top: 10px;
    /* padding-top: 30px;
    padding-bottom: 500px; */
    font-family: advent;

}

.countdowntimer .rockettimer {
    color: #0071BC;
    font-size: 28px;
    margin-top: 8px;
}

@keyframes pulse {
    0% {
        color: rgb(218, 218, 218);
    }

    30% {
        color: rgb(108, 146, 172);
    }

    50% {
        color: #0071BC;
    }

    70% {
        color: rgb(108, 146, 172);
    }

    100% {
        color: rgb(218, 218, 218);
    }
}

.countdowntimer h1 {
    margin: 0px;
    /* remove */
}

.countdowntimer h4 {
    margin: 0px;
    margin-top: 0.5em;
    color: #efefef;
    font-size: 24px;
    /* NEXT LAUNCH & ESTIMATED LAUNCH DATE TEXT-COLOR */

}

/* ----- LAUNCH NAME - LINK TO LAUNCHES SCHEDULE ----- */
.linkToWeb {
    text-decoration: none;
}


.upcomingrocket {
    padding: 10px;
    font-size: 100px;
    color: #0071BC;
    text-decoration: none;
    /* animation: pulse 5s infinite;  PULSATING COLORCHANGE ANIMATION */
    animation: pulse 10s infinite;
}

.upcomingrocket h1 {
    margin-top: 20px;
    color: #0071BC;
}

/* FIX POSITIONING MARS EARTH HERE */
.topearth {
    height: 190vh;

    float: center;
}

.topearth h4 {
    margin: 0;
}

.marsmission {
    display: block;
    text-align: center;
    margin: auto;
    width: 50%;
    padding-top: 100px;
    /* color: #efefef; */
    color: #CE5A32;

}
.marsmission h1 {
    margin: 40px;
    font-size: 40px;
    font-family: advent;
    color: #CE5A32;
}

.marsmission hr {
    border: 2px solid #CE5A32;
    width: 65%;
}
.marsmission a,
a :hover {
    text-decoration: none;
}

.marsmissiontext {
    font-family: geosans;
    font-size: 24px;
}


.marsmission h5 {
    margin: 25px;
    font-size: 24px;
}



.buttontomars {
    text-align: center;
    width: 100%;
    background-repeat: no-repeat;
}

.buttontomars img {
    width: 15%;
}








/* ----- MEDIA QUERY ----- */
@media screen and (max-width: 600px) {

    body {
        background-image: url(../images/frontpage_new_12.05.jpg);
        background-size: 100%;
        background-position-y: 35%;
    }
    .countdowntimer {
        width: 100%;
    }
    .countdowntimer .rockettimer {
        color: #e9e9e9;
        font-size: 24px;
    }

    .countdowntimer h4 {
        margin: 0px;
        margin-top: 0.5em;
        color: #efefef;
        font-size: 24px;
        /* NEXT LAUNCH & ESTIMATED LAUNCH DATE TEXT-COLOR */
    
    }

    .upcomingrocket {
        padding: 0px;
        font-size: 80px;
        /* animation: pulse 5s infinite;  PULSATING COLORCHANGE ANIMATION */
        animation: pulse 10s infinite;
    }
    .topearth {
        height: 90vh;
    
        float: center;
    }
    
    .marsmission {
        padding-top: 0;
        width: 80%;
        font-weight: bold;

    }
    .marsmission h1 {
        margin: 0;
        font-size: 36px;
        font-family: advent;
        color: #CE5A32;
    }
    .buttontomars img {
        width: 35%;
    }

    .marsmissiontext {
        font-size: 20px;
    }
    .marsmission hr {
        border: 1px solid #CE5A32;
        width: 80%;
    }






}